<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="../static/styles/comparador.css" rel="stylesheet" type="text/css">
        <title>Resultados</title>
    </head>
    <body>
        <header>
            <h1>Resultados del Comparador</h1>
        </header>

        <main>
            <section id="otro">
                <section class="moviles">

                    <article class="subseccion1">
                        <article class="image">
                            <img src="{{url_for('static', filename='images/iphone.jpg')}}" width="40%" height="70%">
                        </article>
                    </article>

                    <article class="subseccion2">
                        <section class="enlace">
                            <a href="https://www.worten.es/productos/moviles-smartphones/smartphones/iphone/iphone-11-pro-apple-5-8-256-gb-gris-espacial-7016642">NOMBRE</a>
                        </section>
                        
                        <section class="info">
                            <article class="carac">
                                <p>Características: </p>
                                <p>Sistema Operativo: </p>
                                <p>RAM: </p>
                                <p>Almacenamiento:</p>
                            </article>
                            <article class="precio">
                                <p>199€</p>
                            </article>
                        </section>
                        
                    </article>

                </section>

                <section class="moviles">

                    <article class="subseccion1">
                        <article class="image">
                            <img src="{{url_for('static', filename='images/iphone.jpg')}}" width="40%" height="70%">
                        </article>
                    </article>

                    <article class="subseccion2">
                        <section class="enlace">
                            <a href="https://www.worten.es/productos/moviles-smartphones/smartphones/iphone/iphone-11-pro-apple-5-8-256-gb-gris-espacial-7016642">NOMBRE</a>
                        </section>
                        
                        <section class="info">
                            <article class="carac">
                                <p>Características: </p>
                                <p>Sistema Operativo: </p>
                                <p>RAM: </p>
                                <p>Almacenamiento:</p>
                            </article>
                            <article class="precio">
                                <p>199€</p>
                            </article>
                        </section>
                        
                    </article>

                </section>

                <section class="moviles">

                    <article class="subseccion1">
                        <article class="image">
                            <img src="{{url_for('static', filename='images/iphone.jpg')}}" width="40%" height="70%">
                        </article>
                    </article>

                    <article class="subseccion2">
                        <section class="enlace">
                            <a href="https://www.worten.es/productos/moviles-smartphones/smartphones/iphone/iphone-11-pro-apple-5-8-256-gb-gris-espacial-7016642">NOMBRE</a>
                        </section>
                        
                        <section class="info">
                            <article class="carac">
                                <p>Características: </p>
                                <p>Sistema Operativo: </p>
                                <p>RAM: </p>
                                <p>Almacenamiento:</p>
                            </article>
                            <article class="precio">
                                <p>199€</p>
                            </article>
                        </section>
                        
                    </article>

                </section>

                </section>
            </section>

            <aside>
                <p>Demás móviles</p>
                <section class="resto-movil">
                    <article class="resto-image">
                        <img src="{{url_for('static', filename='images/Samsung-Galaxy-Z-Flip-violeta.jpg')}}" width="60%" height="100%">
                    </article>
                    <article class="resto-precio">
                        <p>199€</p>
                    </article>
                </section>

                <section class="resto-movil">
                    <article class="resto-image">
                        <img src="{{url_for('static', filename='images/Samsung-Galaxy-Z-Flip-violeta.jpg')}}" width="60%" height="100%">
                    </article>
                    <article class="resto-precio">
                        <p>199€</p>
                    </article>
                </section>

                <section class="resto-movil">
                    <article class="resto-image">
                        <img src="{{url_for('static', filename='images/Samsung-Galaxy-Z-Flip-violeta.jpg')}}" width="60%" height="100%">
                    </article>
                    <article class="resto-precio">
                        <p>199€</p>
                    </article>
                </section>

                <section class="resto-movil">
                    <article class="resto-image">
                        <img src="{{url_for('static', filename='images/Samsung-Galaxy-Z-Flip-violeta.jpg')}}" width="60%" height="100%">
                    </article>
                    <article class="resto-precio">
                        <p>199€</p>
                    </article>
                </section>

                <section class="resto-movil">
                    <article class="resto-image">
                        <img src="{{url_for('static', filename='images/Samsung-Galaxy-Z-Flip-violeta.jpg')}}" width="60%" height="100%">
                    </article>
                    <article class="resto-precio">
                        <p>199€</p>
                    </article>
                </section>

                <section class="resto-movil">
                    <article class="resto-image">
                        <img src="{{url_for('static', filename='images/Samsung-Galaxy-Z-Flip-violeta.jpg')}}" width="60%" height="100%">
                    </article>
                    <article class="resto-precio">
                        <p>199€</p>
                    </article>
                </section>
            </aside>

                <!-- <strong>Sistema Operativo: </strong>{{SO}}
                <strong>RAM: </strong>{{RAM}}
                <strong>Almacenamiento: </strong>{{Almacenamiento}}
                <strong>Nombre: </strong>{{nombre}}
                <strong>Camara: </strong>{{Camara}} -->
            
        </main>
        
        <footer>
            <p>Contáctanos</p>
        </footer>

    </body>
</html>