<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css"">
    <title>TechnoZone</title>
</head>

<header>
    <section class="contenedorTitulo">
        <h1 id="titulo">Comparador de precios</h1>
    </section>
</header>

<body>
    <form action="/book">
        <label>ISBN
        <input type="text" name="isbn">
        </label>
        <input type="submit" value="Get book information">
    </form>
    </body>
    <p>Aquí podrás comparar precios para elegir el móvil que te conviene</p>
    <p>Hola</p>
</body>

<footer>

</footer>

</html>